
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
    margin: auto;
}

body {
    margin:0;
    padding:0;
    padding-bottom: 10%;
    background-color: rgba(245, 163, 245, 0.637);
}

.top {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1%;
    font-size: 100%;
}

#result{
    height: 5%;
} 